name: Deploy to GitHub Pages

on:
  # 在推送到默认分支时运行
  push:
    branches: [ main ]

  # 允许您从 Actions 选项卡手动运行此工作流
  workflow_dispatch:

# 设置 GITHUB_TOKEN 的权限以允许部署到 GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# 只允许一个并发部署，跳过正在进行的运行和最新排队运行之间的队列运行。
# 但是，不要取消正在进行的运行，因为我们希望允许这些生产部署完成。
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # 构建和部署任务
  build-and-deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: 检出 main 分支
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: 设置 Node 环境
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: 安装依赖
        run: npm ci

      - name: 使用 VitePress 构建
        run: npm run docs:build

      - name: 设置 Pages
        uses: actions/configure-pages@v4

      - name: 上传构建产物
        uses: actions/upload-pages-artifact@v3
        with:
          # 上传 dist 文件夹
          path: '.vitepress/dist'

      - name: 部署到 GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4